@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    td {
        padding: 2.5px 5px;
    }
</style>

<form method="post">
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td><a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a></td>
                    <td><button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>
